
ExchangeRate/ExchangeRate/bin/Debug/netcoreapp3.1/

ExchangeRate/ExchangeRate/obj/Debug/netcoreapp3.1/ExchangeRate.csproj.CoreCompileInputs.cache

ExchangeRate/ExchangeRate/obj/Debug/netcoreapp3.1/

ExchangeRate/.vs/ExchangeRate/v16/

ExchangeRate/.vs/ExchangeRate/DesignTimeBuild/.dtbcache.v2

ExchangeRate/ExchangeRate/obj/ExchangeRate.csproj.nuget.dgspec.json

ExchangeRate/ExchangeRate/obj/ExchangeRate.csproj.nuget.g.props

ExchangeRate/ExchangeRate/obj/project.assets.json

ExchangeRate/ExchangeRate/obj/project.nuget.cache

ExchangeRate/ExchangeRate/obj/
